html,
body {
  margin: 0px;
  padding: 0px;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.hide_on_desktop {
  display: none;
}

/* 
MEDIA DEVICES TEMPLATE
*/
/* Small Devices (Landscape Phones) */
@media (max-width: 767.98px) {
  .hide_on_desktop {
    display: block;
  }
  .hide_on_tablet {
    display: none !important;
  }
}

/* Medium Devices (Tablets) */
@media (max-width: 991.98px) {
  .hide_on_desktop {
    display: block;
  }

  .hide_on_tablet {
    display: none !important;
  }
}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {
  /* Your styles for large desktops */
}
