.main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

/* Sidebars with Content */
.sideBarContentContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.sideBarContainer {
  width: 100%;
  max-width: 250px;
}

.ContentContainer {
  width: 100%;
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: calc(100vw - 700px);
}

/* 
    MEDIA DEVICES TEMPLATE
*/
/* Small Devices (Landscape Phones) */
@media (max-width: 767.98px) {
  .sideBarContentContainer {
    align-items: center;
    flex-direction: column;
  }

  .ContentContainer {
    max-width: 90%;
  }

  .sideBarContainer {
    display: flex;
    min-width: fit-content;
    max-width: fit-content;
    width: fit-content;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .sideBarContentContainerFlex {
    width: 100%;
    display: flex;
    overflow-y: scroll;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}

/* Medium Devices (Tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .ContentContainer {
    max-width: 50%;
  }

  .sideBarContentContainer {
    justify-content: space-evenly;
  }
}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .ContentContainer {
    max-width: 50%;
  }
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {
  /* Your styles for large desktops */
}
